@font-face {
    font-family: 'Uni Sans Heavy CAPS';
    src: url('UniSansHeavyCAPS.eot');
    src: local('Uni Sans Heavy CAPS'), local('UniSansHeavyCAPS'),
        url('UniSansHeavyCAPS.eot?#iefix') format('embedded-opentype'),
        url('UniSansHeavyCAPS.woff2') format('woff2'),
        url('UniSansHeavyCAPS.woff') format('woff'),
        url('UniSansHeavyCAPS.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Heavy Italic CAPS';
    src: url('UniSansHeavyItalicCAPS.eot');
    src: local('Uni Sans Heavy Italic CAPS'), local('UniSansHeavyItalicCAPS'),
        url('UniSansHeavyItalicCAPS.eot?#iefix') format('embedded-opentype'),
        url('UniSansHeavyItalicCAPS.woff2') format('woff2'),
        url('UniSansHeavyItalicCAPS.woff') format('woff'),
        url('UniSansHeavyItalicCAPS.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans Thin CAPS';
    src: url('UniSansThinCAPS.eot');
    src: local('Uni Sans Thin CAPS'), local('UniSansThinCAPS'),
        url('UniSansThinCAPS.eot?#iefix') format('embedded-opentype'),
        url('UniSansThinCAPS.woff2') format('woff2'),
        url('UniSansThinCAPS.woff') format('woff'),
        url('UniSansThinCAPS.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Thin Italic CAPS';
    src: url('UniSansThinItalicCAPS.eot');
    src: local('Uni Sans Thin Italic CAPS'), local('UniSansThinItalicCAPS'),
        url('UniSansThinItalicCAPS.eot?#iefix') format('embedded-opentype'),
        url('UniSansThinItalicCAPS.woff2') format('woff2'),
        url('UniSansThinItalicCAPS.woff') format('woff'),
        url('UniSansThinItalicCAPS.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

